@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;500&display=swap');

* {
    color: #474A51;
    font-family: 'Roboto Mono', Arial;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;

    display: grid;
    
    margin: 0;
    padding: 0;
    
    background-color: #FCFEFF;


}

body {
    max-width: 1100px;
    height: 100vh;
    
    
}
html {
    justify-items: center;

    scroll-behavior: smooth;
}

/* Formatação de fontes e de background */
h1, h2 {
    font-size: 1em;
    font-weight: 500;
}
h3 {
    font-size: 0.56em;
}
p, li, input, textarea {
    font-size: 0.38em;
    font-weight: 400;
}
.p-small {
    font-size: 0.3em;
}
.margin-p {
    margin: 10px;
}
.weight {
    font-weight: 800;
}
a {
    text-decoration: none;
}
a.green {
    font-size: 1em;
    color: #128C7E;
}
a.bt {
    font-size: 1em;
}
ul.list li {
    list-style: disc;
}
.shadow-inset {
    border: 0.1px solid #474a5183;
}
.bg-l {
    background-image: url('../img/bg-l.svg');
    background-repeat: no-repeat;
    background-size: 25px;
}
.photo-perfil {
    background-image: url('../img/photo-bg.svg');
    width: 230px;
}
.photo-perfil img {
    width: 100%;
}
.bg-main {
    background-image: url('../img/bg-main.svg');
}
.bg-perfil-d {
    background-image: url('../img/bg-div.svg');
}


/* Formatação de botões */
button {
    background-color: #FCFEFF;
    color: #474A51;

    width: 150px;
    height: 40px;

    margin: 0;
    padding: 0;

    border-radius: 10px;
    border-style: none;
    border: 1px solid #474A51;
    
    font-size: 0.30em;
    font-weight: 600;
}
button:hover {
    background-color: #474A51;
    color: #FCFEFF;
    cursor: pointer;

    transition: 0.3s;
    
}
button:hover a {
    color: #FCFEFF;
}

/* Espaçamento */
.space-5 {
    padding: 5px;
}
.space-10 {
    padding: 10px;
}
.space-15 {
    padding: 15px;
}
.space-20 {
    padding: 20px;
}
.space-30 {
    padding: 30px;
}
.space-60 {
    padding: 60px;
}
.margin-30 {
    margin: 30px;
}

/* Formatação de páginas */
.flex {
    display: flex;
    
}
.center {
    display: grid;
    align-items: center;
}
.center-cross {
    display: flex;
    justify-content: space-evenly;
    
}
.center-cross-around{
    width: 100%;
    justify-content: space-around;
}
.justificar-1 {
    text-align: center;
    
}


/* Formatação dos header */
header {
    width: 100%;
    height: 70px;
    margin: auto;
    position: fixed; 
    top: 0;
    background-color: #FCFEFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    align-self: center;
}
ul li {
    list-style: none;
    margin-left: 50px;
    height: 100%;
    cursor: pointer;
    
}
ul li:hover p {
    color: #128C7E;
}

/* Height de páginas */
section {
    height: 698px;
    
}
#sobre {
    height: 700px;
    margin: 20px;
}
#servico {
    height: 750px;
    margin: 20px;
    
}
#me-encontre {
    height: 550px;
    margin: 20px;
}
footer {
    height: 70px;
    bottom: 0;
    margin-bottom: 0;
}

/* formatação do section */
section div main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Formatação sobre */
#sobre nav {
    height: 100%;
    width: 70%;

    
    border-radius: 10px;

    display: flex;
    
}
#sobre div.flex {
    display: flex;
    justify-content: space-between;

}


#sobre nav button {
    align-self: flex-end;
    
    
}
.SOP {
    width: 49%;
    
}
.hi {
    width: 49%;
}



div.SOP div.bar {
    height: 7px;
    width: 100%;
    
    border-radius: 5px;
    border: solid 0.2px #474A51;

    background-color: #FCFEFF;
}

/* Criação do gráfico */
 .percent {
    
    height: 100%;

    border-radius: 5px;

}
.grafic:hover .percent{
    animation: percent 3s 1 ;
    
}
.grafic:hover .percent.color-purple {
    animation: percent-purple 3s 1 ;
    
}

/* animação */
@keyframes percent {
    
    0% { width: 95%; }
    25%{ width: 0%; }
    75% { width: 100%; }
    100% { width: 95%; }
    
}
@keyframes percent-purple {

    0% { width: 80%; }
    25%{ width: 0%; }
    75% { width: 100%; }
    100% { width: 80%; }

}

/* Cores do gráfico */
.color-green {
    width: 95%;

    background-color: #474A51;

}
.color-purple {
    width: 80%;

    background-color: #474A51;

}
.color-red {
    width: 95%;

    background-color: #474A51;

}



/* Começo da etapa de serviço (cards) */

.card {
    min-width: 200px;
    width: 28%;
    max-width: 302px;
    min-height: 250px;

    text-align: center;
    padding-bottom: 20px;

    border-radius: 15px;
    display: grid;
    justify-content: center;
    transition: 0.7s;

    border: 1px solid #474A51;
}
.card:hover {
    transition: 0.7s;
    transform: translateY(-20px);
}

.blue {
    background-color: #474A51;
    
}
.blue p {
    color: #FCFEFF;
}

/* Começo da etapa de me encontre */
.get-in {
    width: 100%;
}


.form {
    width: 100%;
    margin: 20px;
}
.form div.flex {
    width: 100%;
    
}
input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;

    

    border: none;
    outline: none;
    border-radius: 15px;
}
input#assu {
    width: 97%;
}

textarea {
    width: 97%;

    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    margin-bottom: 0;

    

    border: none;
    resize: none;
    outline: none;

    border-radius: 15px;
} 
.social {
    
    text-align: center;
    justify-content: center;
    
    
}



@media (max-width: 700px) {
    * {
        font-size: 36px;
        box-sizing: border-box;
       
    }
    body {

        overflow-x: hidden;
        position: relative;
    }
    html {
        width: 100vw;
        overflow-x: hidden;
    }
    
    /* Formatação de fontes */
    
    ul.list li {
        list-style: none;
    }
    .shadow-inset {
        border: 1px solid #474a5177;
    }
    .bg-perfil {
        background-image: url('../img/photo-bg.svg');

    }
    .bg-main {
        background-image: none;
    }
    .bg-perfil-d {
        background-image: none;
    }
    
    /* Espaçamento */
    .space-5 {
        padding: none;
    }
   
    .space-60 {
        padding: 0;
    }
    
    /* Formatação de páginas */
    .flex {
        flex-direction: column;
        
    }
    .center-cross-around{
        width: 100%;
        justify-content: space-around;
    }
    .justificar {
        display: grid;
        justify-items: center;
        
    }
    div#flex-m {
        display: flex;
    }
    
    
    
    /* Formatação dos header */
    header {
        margin: 0;
        display: none;
    }
    
    
    /* Height de páginas */
    section {
        height: 650px;
        margin: 0;
        padding: auto;
    }
    #sobre {
        height: 700px;
        margin: 0;
        padding: 20px;
        display: grid;
    }
    #servico {
        height: auto;
        padding: 20px;

        margin: 0;
    }
    #me-encontre {
        height: auto;
        padding: 20px;

        margin: 0;
    }
    footer {
        width: 100%;
        display: grid;
        
        height: 70px;
        align-items: flex-end;

        margin: 0;
        
    }
    
    /* formatação do section */
    .center-cross {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 30%;
        grid-template-areas: 'img' 'eu';
        
    }
    section div main {
        grid-area: eu;
    }
    section nav {
        display: flex;
        justify-content: center;
    }
    section img {
        width: 300px;
        grid-area: img;
        
    }
    
    /* Formatação sobre */
    #sobre nav {  
        width: 100%;
     
    }
    #sobre div.flex {
        width: 100%;
        
    }
    #sobre .photo-perfil {
        display: none;
    }
    
    .SOP {
        width: 100%;
        
        
    
    }
    .hi {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #sobre .flex.center-cross-around {
        display: grid;
        margin: 0;
        margin-top: 20px;
        padding: 40px;
        
        
        grid-template-columns: 1fr 1fr;
        
    }
    
    #sobre div.space-10 {
        display: none;
    }
    #sobre div.space-60 {
        display: none;
    }
    .grafic {
        padding: 10px;
    }
    
    
    /* Começo da etapa de serviço (cards) */
    #servico .flex {
        justify-items: center;
    }
    .card {
        margin-bottom: 30px;
    
    }
    
    #servico .flex.center-cross {
        display: flex;
        align-items: center;
    }
    #servico div.justificar p {
        text-align: center;
    }
    
    
    /* Começo da etapa de me encontre */

    #me-encontre div.flex {
        
        align-content: center;
    }
    
    nav.form {
        width: 100%;
        margin: 0;
        margin-top: 30px;

        
        
    }

    input {
        width: 100%;
        max-width: 300px;
        height: 40px;
    
    }
    input#assu {
        width: 100%;
    }
    
    textarea {
        width: 100%;
        max-width: 300px;    

    }
    .grid-form {
        display: grid;
        
        justify-content: center;
        
    }
    .center {
        text-align: center;
    }
    .social {
        align-items: center;

    }
}